<h3 class="text-center text-white">Menu</h3>

<div class="accordion" id="accordionExample">
    <a class="list-group-item list-group-item-action list-group-item-dark" id="headingOne"
      data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Productos
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
     <ul class="list-group bg-secondary">
      <a routerLink="/productos" class="list-group-item list-group-item-action list-group-item-dark">Catalogo de Productos</a>
      <a routerLink="/productos/0" class="list-group-item list-group-item-action list-group-item-dark">Nuevo</a>
    </ul>
    </div>

    <a class="list-group-item list-group-item-action list-group-item-dark" id="headingTwo"
      data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Clientes
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
     <ul class="list-group bg-secondary">
      <a routerLink="/clientes" class="list-group-item list-group-item-action list-group-item-dark">Listado de Clientes</a>
      <a routerLink="/clientes/0" class="list-group-item list-group-item-action list-group-item-dark">Cargar Cliente</a>
    </ul>
    </div>

    <a class="list-group-item list-group-item-action list-group-item-dark" id="headingThree"
      data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Facturas
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
     <ul class="list-group bg-secondary">
      <a routerLink="/facturas" class="list-group-item list-group-item-action list-group-item-dark">Listado de Facturas</a>
      <a routerLink="/facturas/nueva" class="list-group-item list-group-item-action list-group-item-dark">Emitir Factura</a>
    </ul>
    </div>
</div>