<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6 text-center">Listado de Productos</h1>
  </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col-10">
  <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Código</th>
    </tr>
  </thead>
  <tbody *ngIf="productos">
    <tr *ngFor="let producto of productos">
      <td>{{producto.nombre}}</td>
      <td>{{producto.precio}}</td>
      <td>{{producto.codigo}}</td>
      <td><a routerLink="{{producto.id}}">Editar</a> - <span (click)="borrarProducto(producto.id)">Borrar</span></td>
      
    </tr>    
  </tbody>
  </table>
</div>
<div class="col"></div>
</div>